    /* Font weight 400 (Regular) */
    @font-face {
        font-family: "Oswald";
        src: url("../fonts/static/Oswald-Regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    /* Font weight 600 (Semi-Bold) */
    @font-face {
        font-family: "Oswald";
        src: url("../fonts/static/Oswald-SemiBold.ttf") format("truetype");
        font-weight: 600;
        font-style: normal;
    }

    // Light Theme
    $primary-color: #B00C0C;
    $footer-color: #000000;
    $text-color: #333333;
    $background-color: #ffffff;
    $main-font: "Oswald", sans-serif !important;
    $card-background: #f5f5f5;

    // #f03030
    * {
        box-sizing: border-box;
    }

    body,
    html {
        font-family: $main-font;
        margin: 0;

        h2 {
            z-index: 2;
            font-weight: 600;
            font-size: 2.5rem;
            position: relative;
            text-align: center;
            padding: 20px;
            color: $text-color;
            margin: 0;
        }
    }

    .cta-button {
        display: inline-block;
        background: $primary-color;
        color: white !important;
        padding: 8px 20px !important;
        border-radius: 20px;
        border: 1px solid $text-color;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: 600;
        letter-spacing: 1px;
        display: inline-block !important;
    }

    .w-80 {
        width: 80%;
    }

    body {
        margin: 0;
        color: $text-color;

        header {
            background: $primary-color;
            color: #fff;
            text-align: center;
            padding: 2px 0;
            font-family: $main-font;

        }

        .navbar-nav .nav-link {
            color: $text-color !important;
        }

        .hero {
            background-image: url("../images/hero.jpg");
            background-size: cover;
            background-position: center;
            height: 50vh;
            color: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .hero-center {
                width: 100%;
                background: rgba(255, 255, 255, .8);
                z-index: 2;
                color: #000000;
                text-align: left;
                padding: 20px;
                color: $text-color;

                h1 {
                    font-size: 3.5rem;
                    margin-bottom: 0;
                    font-weight: bold;

                    span {
                        color: $primary-color;
                    }
                }

                p {
                    font-family: $main-font;
                    font-size: 1.3rem;
                }
            }
        }

        .hero::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255,
                    255,
                    255,
                    0.6);
            /* Adjust the color and opacity as needed */
            z-index: 1;
            /* Make sure the pseudo-element is above the image */
            pointer-events: none;
            /* Allow interaction with the image underneath */
        }

        .services {
            background-image: url("../images/services.jpg");
            background-size: cover;
            background-position: center;
            position: relative;

            h2 {
                z-index: 2;
                font-weight: 600;
                font-size: 2.5rem;
                position: relative;
                text-align: center;
                padding: 20px;
            }

            .card {
                z-index: 2;
                border-radius: 10px;
                border: 3px solid $text-color;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                text-align: center;
                background: $card-background;
                max-width: 250px;
                min-width: 250px;
                margin: 20px auto;

                img {
                    box-sizing: content-box;
                }

                .card-title {
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                .card-text {
                    font-size: 1rem;
                }
            }
        }

        .services::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255,
                    255,
                    255,
                    0.6);
            /* Adjust the color and opacity as needed */
            z-index: 1;
            /* Make sure the pseudo-element is above the image */
            pointer-events: none;
            /* Allow interaction with the image underneath */
        }

        .contact {
            background-image: url("../images/contact.jpg");
            background-size: cover;
            background-position: center;
            position: relative;
            padding-bottom: 20px;

            .contact-details,
            .contact-form {
                z-index: 2;
                position: relative;
            }

            h2 {
                color: #fff;
            }

            .contact-details {
                address {
                    color: white;
                    width: 80%;
                    margin: 0 auto 10px auto;

                    .contact-name {
                        font-size: 1.3rem;
                    }

                    .contact-item {
                        position: relative;

                        img {
                            width: 22px;
                        }

                        span {
                            position: absolute;
                            bottom: 0;
                            padding-left: 5px;
                        }
                    }
                }
            }

            .contact-form form {
                display: flex;
                flex-direction: column;
                max-width: 80%;
                margin: 0 auto;

                input,
                textarea {
                    margin: 5px 0;
                    color: $text-color;
                    border: 2px solid #CCC;
                    padding: 2px 5px;
                }

                input::placeholder,
                textarea::placeholder {
                    color: #CCC;
                    font-weight: 600;
                }

                input:focus,
                textarea:focus {
                    outline: none;
                    border: 2px solid $text-color;
                }

                input:not(:empty),
                textarea:not(:empty) {
                    border: 2px solid yellow;
                }

                button {
                    margin: 5px 0;
                    background: white;
                    border: 2px solid black;
                }
            }

        }

        .contact::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $primary-color;
            /* Adjust the color and opacity as needed */
            z-index: 1;
            opacity: .7;
            /* Make sure the pseudo-element is above the image */
            pointer-events: none;
            /* Allow interaction with the image underneath */
        }

        .about-me {
            padding-bottom: 20px;

            p {
                width: 80%;
                margin: 0 auto;
            }

            .right-half {
                display: none;
            }
        }

        footer {
            background: $footer-color;
            color: #FFF;
            padding: 20px 5px;

            .footer-container {
                display: grid;
                grid-template-columns: auto auto;

                .footer-services,
                .contact-info {
                    ul {
                        list-style: none;
                        padding: 0;
                        font-size: .8rem;

                        li {
                            h3 {
                                font-size: 1rem;
                                font-weight: 600;
                            }

                            a {
                                color: #FFF;
                                font-size: .8rem;
                            }
                        }
                    }
                }

            }
        }
    }