/* Font weight 400 (Regular) */
@font-face {
  font-family: "Oswald";
  src: url("../fonts/static/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Font weight 600 (Semi-Bold) */
@font-face {
  font-family: "Oswald";
  src: url("../fonts/static/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: "Oswald", sans-serif !important;
  margin: 0;
}
body h2,
html h2 {
  z-index: 2;
  font-weight: 600;
  font-size: 2.5rem;
  position: relative;
  text-align: center;
  padding: 20px;
  color: #333333;
  margin: 0;
}

.cta-button {
  display: inline-block;
  background: #B00C0C;
  color: white !important;
  padding: 8px 20px !important;
  border-radius: 20px;
  border: 1px solid #333333;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block !important;
}

.w-80 {
  width: 80%;
}

body {
  margin: 0;
  color: #333333;
}
body header {
  background: #B00C0C;
  color: #fff;
  text-align: center;
  padding: 2px 0;
  font-family: "Oswald", sans-serif !important;
}
body .navbar-nav .nav-link {
  color: #333333 !important;
}
body .hero {
  height: 50vh;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  justify-content: center;
  align-items: center;
}
body .hero picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body .hero picture img,
body .hero picture source {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
body .hero .hero-center {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
  color: #000000;
  text-align: left;
  padding: 20px;
  color: #333333;
}
body .hero .hero-center h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
  font-weight: bold;
}
body .hero .hero-center h1 span {
  color: #B00C0C;
}
body .hero .hero-center p {
  font-family: "Oswald", sans-serif !important;
  font-size: 1.3rem;
}
body .hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  /* Adjust the color and opacity as needed */
  z-index: 1;
  /* Make sure the pseudo-element is above the image */
  pointer-events: none;
  /* Allow interaction with the image underneath */
}
body .services {
  background-image: url("../images/services.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
body .services h2 {
  z-index: 2;
  font-weight: 600;
  font-size: 2.5rem;
  position: relative;
  text-align: center;
  padding: 20px;
}
body .services .card {
  z-index: 2;
  border-radius: 10px;
  border: 3px solid #333333;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  background: #f5f5f5;
  max-width: 250px;
  min-width: 250px;
  margin: 20px auto;
}
body .services .card img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
body .services .card .card-title {
  font-size: 1.5rem;
  font-weight: 600;
}
body .services .card .card-text {
  font-size: 1rem;
}
body .services::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  /* Adjust the color and opacity as needed */
  z-index: 1;
  /* Make sure the pseudo-element is above the image */
  pointer-events: none;
  /* Allow interaction with the image underneath */
}
body .contact {
  background-image: url("../images/contact.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 20px;
}
body .contact .contact-details,
body .contact .contact-form {
  z-index: 2;
  position: relative;
}
body .contact h2 {
  color: #fff;
}
body .contact .contact-details address {
  color: white;
  width: 80%;
  margin: 0 auto 10px auto;
}
body .contact .contact-details address .contact-name {
  font-size: 1.3rem;
}
body .contact .contact-details address .contact-item {
  position: relative;
}
body .contact .contact-details address .contact-item img {
  width: 22px;
}
body .contact .contact-details address .contact-item span {
  position: absolute;
  bottom: 0;
  padding-left: 5px;
}
body .contact .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
}
body .contact .contact-form form input,
body .contact .contact-form form textarea {
  margin: 5px 0;
  color: #333333;
  border: 2px solid #CCC;
  padding: 2px 5px;
}
body .contact .contact-form form input::-webkit-input-placeholder, body .contact .contact-form form textarea::-webkit-input-placeholder {
  color: #CCC;
  font-weight: 600;
}
body .contact .contact-form form input::-moz-placeholder, body .contact .contact-form form textarea::-moz-placeholder {
  color: #CCC;
  font-weight: 600;
}
body .contact .contact-form form input:-ms-input-placeholder, body .contact .contact-form form textarea:-ms-input-placeholder {
  color: #CCC;
  font-weight: 600;
}
body .contact .contact-form form input::-ms-input-placeholder, body .contact .contact-form form textarea::-ms-input-placeholder {
  color: #CCC;
  font-weight: 600;
}
body .contact .contact-form form input::placeholder,
body .contact .contact-form form textarea::placeholder {
  color: #CCC;
  font-weight: 600;
}
body .contact .contact-form form input:focus,
body .contact .contact-form form textarea:focus {
  outline: none;
  border: 2px solid #333333;
}
body .contact .contact-form form input:not(:empty),
body .contact .contact-form form textarea:not(:empty) {
  border: 2px solid yellow;
}
body .contact .contact-form form input[type=submit] {
  color: black;
  margin: 5px 0;
  background: white;
  border: 2px solid black;
}
body .contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #B00C0C;
  /* Adjust the color and opacity as needed */
  z-index: 1;
  opacity: 0.7;
  /* Make sure the pseudo-element is above the image */
  pointer-events: none;
  /* Allow interaction with the image underneath */
}
body .about-me {
  padding-bottom: 20px;
}
body .about-me p {
  width: 80%;
  margin: 0 auto;
}
body .about-me .right-half {
  display: none;
}
body footer {
  background: #000000;
  color: #FFF;
  padding: 20px 5px;
}
body footer .footer-container {
  display: grid;
  grid-template-columns: auto auto;
}
body footer .footer-container .footer-services ul,
body footer .footer-container .contact-info ul {
  list-style: none;
  padding: 0;
  font-size: 0.8rem;
}
body footer .footer-container .footer-services ul li h3,
body footer .footer-container .contact-info ul li h3 {
  font-size: 1rem;
  font-weight: 600;
}
body footer .footer-container .footer-services ul li a,
body footer .footer-container .contact-info ul li a {
  color: #FFF;
  font-size: 0.8rem;
}/*# sourceMappingURL=phone.css.map */